.photo
{
	background-image: url(background_thumbnail);
	background-repeat: repeat-x;
	background-color: #FEFFC8;
	background-position: center;
    border: solid 1px #E8DCA3;
    padding: 5px;    
}

.picture
{
    background-position: center;
    background-repeat: repeat-x;
    background-image: url(background_thumbnail);
    background-color: #FEFFC8;
    border: solid 1px #E8DCA3;
    padding: 5px;
    margin: 5px;  
}

#popupbody
{
    font-family: Tahoma, Verdana, Helvetica, Helvetica-Narrow, sans-serif;
    margin: 0px;
    background: #FED36B;
    font-size: 0.7em;
}

#popupinner
{
    border: 1px solid #DBDB79;
    margin: 5px;
    background: #FEFFAB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#popupbody h2
{
    font-weight: bold;
    margin: 0px;
    padding: 1px 0px 5px 5px;
    display: block;
}

.selected, .unselected
{
    width: 80px;
    height: 100px;
    text-align: center;
    padding: 2px 2px 2px 2px;
}

.unselected
{
    background-color: transparent;
    border: solid 1px #FEFFAB;
}

.selected
{
     background: #FED36B;
     border: solid 1px #DBDB79;
}

.scrollablelist
{
    overflow: auto;
    height: 230px;
    width: 460px;
    border: solid 1px #DBDB79;
}

.scrollablelist2
{
    overflow: auto;
    height: 230px;
    width: 210px;
    border: solid 1px #DBDB79;
}

.scrolledtable
{
}

 .selectablephoto
{
	background-image: url(background_thumbnail);
	background-repeat: repeat-x;
	background-position: center;
	background-color: #FEFFC8;
    border: 1px solid #E8DCA3;
    padding: 2px;
}

.contextbuttons
{
  margin: 5px 3px 5px 3px; 

}