<#@ template language="C#" HostSpecific="True" #>
<#@ output extension="cs" #>
<#
MvcTextTemplateHost mvcHost = (MvcTextTemplateHost)(Host);
#>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Mvc;
using System.Web.Mvc.Ajax;
using ClubStarterKit.Infrastructure;

namespace <#= mvcHost.Namespace #>
{
    public class <#= mvcHost.ControllerName #> : BaseController
    {
		public ActionResult Index()
		{
			return View();
		}
    }
}
