legend
{
    font-weight: bold;
    color: #666666;
    font-size: 1em;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 7px;
}

form
{
    margin: 0px;
}

fieldset
{
    margin: 0px;
    padding: 0px;
    border: none;
}

.hidden
{
    visibility: hidden;
}

.none
{
    display: none;
}

.formlabel
{
    width:120px; 
    vertical-align: top;
}

.formvalue
{
    vertical-align: top;
}

.txtfield
{
    width:300px;
}

.txtblock
{
    width:300px;
}

/*.button
{ 
	cursor: hand; 
	background-image: url(sprite-button);
	background-color: Transparent;
	padding: 0;
	width: 123px;
	height: 40px;
	border: none;		
	overflow: hidden;
	font: corbel;
	font-size: 17px;
	color: #454545;
	padding-bottom: 5px;
}
.button:hover 
{
	background-image: url(sprite-button_hover); 
	background-color: Transparent;
}*/