<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ApplicationName" value="Club Starter Kit"/>
    <add key="Notification_Email" value=".."/>
    <add key="Notification_Host" value=".."/>
    <add key="Notification_Password" value=".."/>
    <add key="Nofification_Username" value=".."/>
    <add key="Notification_HostPort" value="25"/> <!-- 25 is the default value-->
	</appSettings>
	<connectionStrings>
		<clear/>
		<add name="csk" connectionString="Server=9786f7c9-224b-4143-8129-a11200bda1aa.sqlserver.sequelizer.com;Database=db9786f7c9224b41438129a11200bda1aa;User ID=bizgkbnrattimbbr;Password=SEghWZLUbouGkwwMEzLSuFKoBWeqogZN5x2h7eSkPinkR7CLxiXdzsum42N8UvF4;"/>
	</connectionStrings>
	<system.web>
    <!--Keep validation to v2.0. This allows validation of a request to be suppressed-->
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors defaultRedirect="~/error" mode="RemoteOnly" />

    <compilation debug="true" targetFramework="4.0" optimizeCompilations="true">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!-- Disable use of the GAC-ed version of the MVC assembly -->
				<!--<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/membership/login" timeout="2880"/>
		</authentication>
		<!-- 
    Clubstarterkit doesn't currently use membership provider, profile provider, and the role providers.
    The built-in providers are TOO complex for our needs.
    -->
		<membership>
			<providers>
				<clear/>
			</providers>
		</membership>
		<profile enabled="false"/>
		<roleManager enabled="true" defaultProvider="CskRoleProvider">
			<providers>
				<clear/>
        <add name="CskRoleProvider" type="ClubStarterKit.Web.Infrastructure.Membership.Identification.RoleProvider"/>
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
        <add namespace="ClubStarterKit.Web"/>
        <add namespace="ClubStarterKit.Web.Infrastructure.Membership"/>
        <add namespace="ClubStarterKit.Web.Helpers"/>
        <add namespace="ClubStarterKit.Infrastructure.UI.AsyncForm"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
